
<!-- product_list part end-->

<!--::footer_part start::-->
<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Top Products</h4>
                    <ul class="list-unstyled">
                        <li><a href="">chairs</a></li>
                        <li><a href="">beds</a></li>
                        <li><a href="">table sets</a></li>
                        <li><a href="">wooden items</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>social media</h4>
                    <ul class="list-unstyled">
                        <li><a href="">face book</a></li>
                        <li><a href="">whatsapp</a></li>
                        <li><a href="">instagram</a></li>
                        <li><a href="">tweeter</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>metirial</h4>
                    <ul class="list-unstyled">
                        <li><a href="">wooden</a></li>
                        <li><a href="">carbon fiber</a></li>
                        <li><a href="">plastic</a></li>
                        <li><a href="">metal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>available in </h4>
                    <ul class="list-unstyled">
                        <li><a href="">kozhikode</a></li>
                        <li><a href="">kannur</a></li>
                        <li><a href="">wayanad</a></li>
                        <li><a href="">malapuram</a></li>
                    </ul>
                </div>
            </div>
           

    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->